---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: mcp-intel-vf 
spec:
  maxUnavailable: 100%
  machineConfigSelector:
    matchExpressions:
      - {key: machineconfiguration.openshift.io/role, operator: In, values: [worker,mcp-intel-vf]} 
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/$MCP: "" 
