#
# per job/run config
#

# Project. Default is crucible-rickshaw
#export OCP_PROJECT=crucible-hnhan

# Jobs, a list. This list conforms to GNU make i.e tab in each line, and no quote ""
export PAO_JOBS= \
	\
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/2-POD   \
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/2-POD-GU \
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD \
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD-GU \
    \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/2-POD   \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/2-POD-GU \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/N-POD \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/N-POD-GU \
    \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/2-POD   \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/2-POD-GU \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/N-POD \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/N-POD-GU \
    \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/2-POD   \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/2-POD-GU \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/N-POD \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/N-POD-GU \
    \
   	./2_GROUP/PAO/4IP/INTER-NODE/TCP/2-POD   \
	./2_GROUP/PAO/4IP/INTER-NODE/TCP/2-POD-GU \
	./2_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD \
	./2_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD-GU \
   	./2_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD-BITRATE \
   	./2_GROUP/PAO/4IP/INTER-NODE/TCP/N-POD-GU-BITRATE \

export JOBS=\
	./1_GROUP/NO-PAO/4IP/INTER-NODE/TCP/2-POD   \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/TCP/2-POD-GU \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD-GU \
    \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/UDP/2-POD   \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/UDP/2-POD-GU \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/UDP/N-POD \
	./1_GROUP/NO-PAO/4IP/INTER-NODE/UDP/N-POD-GU \
    \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/TCP/2-POD   \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/TCP/2-POD-GU \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/TCP/N-POD \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/TCP/N-POD-GU \
    \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/UDP/2-POD   \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/UDP/2-POD-GU \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/UDP/N-POD \
	./1_GROUP/NO-PAO/4IP/INTRA-NODE/UDP/N-POD-GU \
    \
   	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/2-POD   \
	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/2-POD-GU \
	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD \
	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD-GU \
   	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD-BITRATE \
   	./2_GROUP/NO-PAO/4IP/INTER-NODE/TCP/N-POD-GU-BITRATE \
    \
	./SETUP_GROUP/PAO/INSTALL  \

# REMOTE_HOST_INTF for egress 
export REMOTE_HOST_INTF=ens2f1

# Debug. DRY run. Default is false. Set to true to DRY
export DRY_RUN=false

# Artifact directory prefix. Default is null.  For example: run-ALL-18feb-UUDID....
export TAG=sun-nicmode-ovs

# Number of samples per test. Default is 3
export NUM_SAMPLES=3

# The duration in seconds to run each test iteration. Default is 120
export DURATION=120
export KUBE=1
