#
# per job/run config
#

# Project. Default is crucible-rickshaw
export OCP_PROJECT=crucible-hnhan

# Jobs, a list. This list conforms to GNU make i.e tab in each line, and no quote ""
export JOBS= \
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/2-POD   \
	./1_GROUP/PAO/4IP/INTER-NODE/TCP/16-POD   \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/2-POD   \
	./1_GROUP/PAO/4IP/INTER-NODE/UDP/16-POD   \
	   \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/2-POD   \
	./1_GROUP/PAO/4IP/INTRA-NODE/TCP/16-POD   \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/2-POD   \
	./1_GROUP/PAO/4IP/INTRA-NODE/UDP/16-POD   \
	   \
	./3_GROUP/PAO/4IP/QOS   \
	./3_GROUP/PAO/4IP/BE   \
	   \
	./1_GROUP/PAO/4IP/INGRESS/TCP/2-POD \
	./1_GROUP/PAO/4IP/INGRESS/TCP/16-POD \
	./1_GROUP/PAO/4IP/INGRESS/UDP/2-POD \
	./1_GROUP/PAO/4IP/INGRESS/UDP/16-POD \
	   \
	./1_GROUP/PAO/4IP/EGRESS/TCP/2-POD \
	./1_GROUP/PAO/4IP/EGRESS/TCP/16-POD \
	   \
	./1_GROUP/PAO/4IP/HOSTNETWORK/INTER-NODE/TCP/2-POD \
	./1_GROUP/PAO/4IP/HOSTNETWORK/INTER-NODE/TCP/16-POD \
	./1_GROUP/PAO/4IP/HOSTNETWORK/INTER-NODE/UDP/2-POD \
	./1_GROUP/PAO/4IP/HOSTNETWORK/INTER-NODE/UDP/16-POD \

export SAVE_JOBS= \
	./2_GROUP/PAO/4IP/INTER-NODE-HUNTER \
	./2_GROUP/PAO/4IP/INTRA-NODE-HUNTER \
	   \

# REMOTE_HOST_INTF for egress 
export REMOTE_HOST_INTF=ens2f1

# Debug. DRY run. Default is false. Set to true to DRY
export DRY_RUN=false

# Artifact directory prefix. Default is null.  For example: run-ALL-18feb-UUDID....
export TAG=monday1029

# Number of samples per test. Default is 3
export NUM_SAMPLES=1

# The duration in seconds to run each test iteration. Default is 120
export DURATION=10

