# 
# This file was completed by reg-smart-config
# 
#
# Lab environment settings specific to your lab
#
export KUBECONFIG="/root/performance/openshift-dpf/kubeconfig.performance"
export REG_KNI_USER="root"
export REG_OCPHOST="nvd-srv-45.nvidia.eng.rdu2.dc.redhat.com"
export OCP_WORKER_0="nvd-srv-24.nvidia.eng.rdu2.dc.redhat.com"
export OCP_WORKER_1="nvd-srv-25.nvidia.eng.rdu2.dc.redhat.com"
export OCP_WORKER_2="nvd-srv-25.nvidia.eng.rdu2.dc.redhat.com"
export BM_HOSTS="nvd-srv-45.nvidia.eng.rdu2.dc.redhat.com"

export REG_DP=""

# SRIOV nic 
export REG_SRIOV_NIC="eno12399"
export REG_SRIOV_MTU="9000"
export REG_SRIOV_NIC_MODEL="E810"

# MACVLAN
export REG_MACVLAN_NIC="eno12399"
export REG_MACVLAN_MTU="9000"

# DPDK trafficgen
export REG_DPDK_NIC_1="ens1f0np0"
export REG_DPDK_NIC_2="ibs1f1"
export REG_DPDK_NIC_MODEL="CX6"

# TREX
export TREX_HOSTS="nvd-srv-45.nvidia.eng.rdu2.dc.redhat.com"
export REM_DPDK_CONFIG="false"
export TREX_SRIOV_INTERFACE_1="ens1f0np0"
export TREX_SRIOV_INTERFACE_2="ibs1f1"
export TREX_DPDK_NIC_MODEL="CX6"

