#
# Lab environment settings specific to scalelab RDS testbed as of Mar 2025
#
export KUBECONFIG=/root/_radez_/standard-00001/kubeconfig

export REG_KNI_USER=root
# OCP bastion. Use "" since host's FQDN has "."
export REG_OCPHOST_NAME="e16-h12-b02-fc640.rdu2.scalelab.redhat.com"    # This is the BASTION hostname
export REG_OCPHOST="e16-h12-b02-fc640.rdu2.scalelab.redhat.com"         # This is the BASTION hostname or its IP. Use IP when running crucible on the bastion,
# When running on the bastion, lab DNS's quirk requires us to use ip in stead of FQDN.
#export REG_OCPHOST="10.6.60.151"

export REG_DP=rds
export OCP_WORKER_0=e23-h24-b02-fc640.rdu2.scalelab.redhat.com
export OCP_WORKER_1=e23-h24-b03-fc640.rdu2.scalelab.redhat.com
export OCP_WORKER_2=e23-h24-b04-fc640.rdu2.scalelab.redhat.com
export BM_HOSTS="e16-h12-b01-fc640.rdu2.scalelab.redhat.com"

### To select what NICs to use for SRIOV, MACVLAN and TREX, you need to understand your worker nodes connectivity.

# On our RDS testbed, the above worker nodes have Cx-5 (ens2f0np0,ens2f1np1) and XXV710 (ens2f0,ens2f1)
# For SRIOV, since ens2f1np1 connects to ovs-port-phys0, we use XXV710 for SRIOV.
export REG_SRIOV_NIC=ens2f0
export REG_SRIOV_MTU=9000
export REG_SRIOV_NIC_MODEL=X710     # all intel 710 derivatives use X710 as model within regulus

# For MACVLAN, since ens2f1np1 has already connected to ovs-port-phys0, we use XXV710 for MACVLAN as well 
export REG_MACVLAN_NIC=ens2f0
export REG_MACVLAN_MTU=9000
# MACVLAN config does not care NIC_MODEL

# For TESTPMD, ens2f1np1 has already connected to ovs-port-phys0, we pick XXV710 for TESTPMD
export REG_DPDK_NIC_1=ens2f0
export REG_DPDK_NIC_2=ens2f1
export REG_DPDK_NIC_MODEL=X710  # all intel 710 derivatives use X710 as model within regulus

# TREX, the remote side, we need to pick the peer NICs of the testpmd side. They happen to be the XXV710.
export TREX_HOSTS=$BM_HOSTS
export TREX_SRIOV_INTERFACE_1=ens2f0
export TREX_SRIOV_INTERFACE_2=ens2f1
export TREX_DPDK_NIC_MODEL=X710
# Config the TREX side for DPDK test to work. Example, REM_DPDK_CONFIG=true
export REM_DPDK_CONFIG=false   # Disable DPDK test, until we manually verify the testbed correctness.

