export REG_KNI_USER=hnhan
export REG_OCPHOST="my-ip"

export OCP_WORKER_0=appworker-0.my.lab
export OCP_WORKER_1=appworker-1.my.lab
export OCP_WORKER_2=appworker-2.my.lab

export BMLHOSTA="192.168.94.21"
export BMLHOSTB=

export REG_DP=nokia
export REG_SRIOV_NIC=ens1f0np0
export REG_SRIOV_MTU=9000
export REG_SRIOV_NIC_MODEL=CX6

