---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name:  regulus-macvlan-net
spec:
  config: '{
  "cniVersion": "0.3.1",
  "type": "macvlan",
  "mode": "bridge",
  "master": "${REG_MACVLAN_NIC}",
  "mtu":  ${REG_MACVLAN_MTU},
  "ipam": {
    "type": "whereabouts",
    "ipRanges": [
        {"range": "10.30.30.0/25"}${REG_IPV6_RANGE}
    ]
  }
}'

