---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: $MCP
  name: 99-pci-realloc-$MCP
spec:
  config:
    ignition:
      version: 3.2.0
  kernelArguments:
      - pci=realloc
