---
apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetworkNodePolicy
metadata:
  name: $DIR-sriov-node-policy 
  namespace: openshift-sriov-network-operator
spec:
  deviceType: netdevice
  isRdma: true
  needVhostNet: true
  nicSelector:
    pfNames:
    - ${INTERFACE}
  nodeSelector:
    node-role.kubernetes.io/$MCP: "" 
  numVfs: 1 
  mtu: ${SRIOV_MTU}
  priority: 5
  resourceName: mlxnic_$DIR
