apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: sriov-dpdk-net
spec:
  config: |
    {
        "cniVersion": "0.3.1",
        "name": "sriov-dpdk-net",
        "type": "sriov",
        "resourceName": "sriovdpdkresource",
        "mtu": 9000,
        "ipam": {}
    }

