---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name:  regulus-sriov-net
  annotations:
    k8s.v1.cni.cncf.io/resourceName: openshift.io/regulus_nic
spec:
  config: '{
  "type": "sriov",
  "cniVersion": "0.3.1",
  "name": "sriov-network",
  "ipam": {
    "type": "whereabouts",
    "type": "whereabouts",
    "ipRanges": [
        {"range": "10.20.30.0/25"},
        {"range": "2001::00/64"}
    ]
  }
}'

