{HOST_NAME="appworker-0.blueprint-cwl.nokia.core.bos2.lab", DEV="ens15f0np0", DIR="rx"}
{HOST_NAME="appworker-0.blueprint-cwl.nokia.core.bos2.lab", DEV="ens15f0np0", DIR="tx"}
{HOST_NAME="rhel-performance", DEV="ens3f0", DIR="rx"}
{HOST_NAME="rhel-performance", DEV="ens3f0", DIR="tx"}

