{
  "global-options": [
    {
      "name": "common-params",
      "params": [
        { "arg": "duration", "vals": ["120"] },
        { "arg": "protocol", "vals": ["udp"] },
        { "arg": "ifname", "vals": ["$TPL_INTF"], "role": "server" }
      ]
    }
  ],
  "sets": [
    {
      "include": "common-params",
      "params": [
        { "arg": "test-type", "vals": ["rr"] },
        { "arg": "nthreads", "vals": ["32"] },
        { "arg": "wsize", "vals": ["1024"] },
        { "arg": "rsize", "vals": ["1024"] }
      ]
    }
  ]
}
